.description_form_bg{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: gray;
    top: 0px;
    left:0px;
    display: none;
}

.active{
    display: block;
}

.description_btn{
    font-size: 40px;
    cursor: pointer;
    position: absolute;
    left: 62.64%;
    right: 36.6%;
    top: 34.13%;
    bottom: 70.26%;
}

.description_title{
    font-family: sans-serif;
    color: #172853;
    font-weight: 700;
    font-size: 17px;
    line-height: 19px;
    margin-right: 240px;
}

.description_block{
    width: 406px;
    height: 310px;
    border-radius: 8px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 200px;
}

.description_info{
    /* position: absolute; */
    width: 336px;
    height: 82.65px;
    left: 600px;
    top: 117.62px;
    
    font-family: Museo Sans Cyrl;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    
    display: flex;
    align-items: center;
    
    /* Black */
    
    color: #172853;
}